h1 {
    margin: 1rem;
}

.btn {
    border-radius: 0;
    margin: .1rem;
}

.list-group {
    margin-bottom: 1rem;
}

.list-group-item {
    border-radius: 0;
}

.not-last {
    border-bottom: none;
}